<div class="main-section">
    <span class="main-title">Battle of Monsters</span>
    <app-monster-list [monsters]="monsters" (selected)="monsterSelected($event)"></app-monster-list>
    <app-winner-display *ngIf="winner$ | async as winner" [message]="winner"></app-winner-display>
    <div class="battle-section">
        <app-monster-battle-card [monster]="player" [title]="player?.name ?? 'Player'"></app-monster-battle-card>
        <button mat-button class="start-battle-button" [disabled]="!player" [class.active]="player"
            [class.inactive]="!player" (click)="startBattle()">
            Start Battle
        </button>
        <app-monster-battle-card [monster]="computer" [title]="computer?.name ?? 'Computer'">
        </app-monster-battle-card>
    </div>
</div>